{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{> "components/header" headerStyle=@custom.header_style}}

{{!-- Ad banner --}}

<div class="gh-canvas" style="margin-top: 40px; margin-bottom: 40px">
    <ins data-revive-zoneid="4" data-revive-target="_blank" data-revive-id="fd07f4f8da8de71ce77dd04ef2137785"></ins>
    <small style="margin-top: 10px; font-style: italic; font-size: 12px">{{t "Ad"}}</small>
</div>

{{#match @custom.header_style "!=" "Highlight"}}
    {{> "components/featured" showFeatured=@custom.show_featured_posts limit=4}}
{{/match}}

{{> "components/cta"}}

{{> "components/post-list" feed="home" postFeedStyle=@custom.post_feed_style showTitle=true showSidebar=@custom.show_publication_info_sidebar}}
